/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

th {
    background-color: #4CAF50;
    padding: 25px;
    color: white;
}

td {
    background-color: #f2f2f2;
    padding: 10px;
}

tr, th, td, table {
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ddd;
}

table {
  margin-left:auto;
  margin-right:auto;
}